body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

.container {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}
.inner {
  margin-left: 250px;
  margin-top: 25px;
  padding: 20px;
}

.single-movie {
  width: 300px;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5px 10px 18px #888888;
}
.btn {
  background-color: #4d4845;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.overview-btn {
  padding: 2px 5px;
}
